* {
    font-family: 'Poppins', sans-serif;
}
.centerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0; padding: 0;
    overflow-x: hidden;
}
.nav-icon {
    margin-left: 35px;
    position: absolute;
    top: 10px; left: 0;
    width: 70px;
}
.nav {
    z-index: 9998;
    display: flex;
    align-items: center;
    position: relative;
    top:0;
    left:140px;
    width:calc(100vw - 140px);
    height:70px;
    background-color: red;
    border-bottom: 2px solid white;
}
.nav ul {
    position: absolute;
    right: 0;
}
.nav li {
    margin-right: 30px;
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
}
.nav li a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px;
    transition: 1s background-color, color;
    font-size: 1.2rem;
}
.nav li a:hover {
    background-color: #00000044;
    color: #ffff55;
}
.checkbtn {
    display: none;
    position: absolute;
    font-size: 2rem;
    color: white;
    right: 30px;
    cursor: pointer;
}
.welcome {
    margin-top: -80px;
    position: relative;
    font-size: 7rem;
    font-weight: bold;
    color: #ffff55;
    text-shadow: 0 0 10px #44441199;
}
.welcomep 
{ 
    position: relative; font-size: 1.2rem 
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    position: relative;
    width: 180px;
    height: 40px;
    text-align: center;
    left: 50vw;
    transform: translateX(-50%);
    margin-top: 20px;

    color: white;
    background-color: #ff0000dd;
    transition: 0.2s transform, color, background-color;
    cursor: pointer;
}

.btn:hover {
    background-color: red;
    transform: translateX(-50%) scale(1.04);
    color: rgb(255, 255, 255);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    position: relative;
    margin-top: 200px;
    left: 10vw;
    width: 80vw;

    min-height: 100vh;
    height: auto;
    padding-bottom: 100px;
}

.grid div img {
    position: relative;
    width: 90%;
    left: 5%;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0 0 5px #44441199;

    background-color: transparent;
}

.grid div div {
    color:  white;
    position: relative;
    top: -30px;
    width: 90%;
    left: 5%;
    height: 30px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid white;
    box-shadow: 0 0 5px #44441199;
    background-color: red;
}

.grid div button {
    position: relative;
    top: -20px;
    left: 50%;
    width: 30%;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: rgb(105, 1, 1);
    color: rgb(255, 192, 192);
    font-size: 1.5rem;
    cursor: pointer;
    transform: translateX(-50%);
    transition: 0.2s all;
}

.grid div a{
    color:  white;
    text-decoration: none;
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    
}

.grid div button:hover {
    transform: translateX(-50%) scale(1.04);
    color: rgb(255, 255, 255);
}
/* FOOTER */
.copyright {
    display: flex;
    position: relative;

    color: white;
    font-size: 1.2rem;
    border-top: 2px solid white;
    z-index: 999;
}

*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
} 
.content1{ 
    position: relative; 
    margin: 130px auto; 
    text-align: center; 
    padding: 0 20px;
 } 
.content1 .text{ 
    font-size: 2.5rem; 
    font-weight: 600; 
    color: #fdfdfd; 
}
.content1 .p1{ 
    font-size: 2.1875rem; 
    font-weight: 600; 
    color: #202020; 
} 
footer {
     position: auto; 
     bottom: 0px; 
     width: 100%; 
     background: #ff0000;
}
 .main-content { 
    display: flex;
 } 
 .main-content .box {
     flex-basis: 50%; 
     padding: 10px 20px;
} 
 .box h2 { 
    font-size: 1.125rem; 
    font-weight: 600; 
    text-transform: uppercase; 
} 
 .box .content { 
    margin: 20px 0 0 0; 
    position: relative;
 }
  .box .content:before{ 
    position: absolute; 
    content: ''; 
    top: -10px; 
    height: 2px; 
    width: 100%; 
    background: #ffffff; 
}
   .box .content:after{ 
    position: absolute; 
    content: ''; 
    height: 2px; 
    width: 15%; 
    background: #000000; 
    top: -10px; 
} 
   .left .content p{ 
    text-align: justify; 
} 
.left .content .social{ 
    margin: 20px 0 0 0; 
}
.left .content .social a{ 
    padding: 0 2px;
} 
.left .content .social a span { 
    height: 40px; 
    width: 40px; 
    background: #1a1a1a; 
    line-height: 40px; 
    text-align: center; 
    font-size: 18px; 
    border-radius: 5px; 
    transition: 0.3s; 
} 
.left .content .social a span:hover { 
    background: #f12020; 
    }
.center .content .fas{ 
    font-size: 1.4375rem; 
    background: #1a1a1a;
    height: 45px; 
    width: 45px; 
    line-height: 45px;
    text-align: center; 
    border-radius: 50%; 
    transition: 0.3s; 
    cursor: pointer; 
} 
.center .content .fas:hover{ 
        background: #ff5151; 
} 
.center .content .text{ 
        font-size: 1.0625rem; 
        padding-left: 10px; 
} 
.center .content .phone{ 
    margin: 15px 0; 
} 
.right form .text{ 
        font-size: 1.0625rem; 
        margin-bottom: 2px; 
        color: #ffffff; 
    } 
     .right form .msg{ 
        margin-top: 10px; 
    } 
    .right form input, .right form textarea{ 
        width: 100%; 
        border-radius: 7px;
        font-size: 1.0625rem; 
        background: #252525; 
        color: white;
        padding-left: 10px; 
        border: 1px solid #222222; 
    } 
     .right form input:focus, .right form textarea:focus{ 
        outline-color: #3498db; 
    } 
     .right form input{ 
        height: 35px; 
    } 
     .right form .btn{ 
        margin-top: 10px; 
    } 
     .right form .btn1 button{ 
        height: 40px; 
        width: 50%; 
        border: none; 
        outline: none; 
        border-radius: 10px;
        background: #ff4949e5; 
        font-size: 1.0625rem; 
        font-weight: bold; 
        cursor: pointer; 
        transition: .3s; 
    } 
.right form .btn button:hover{ 
        background: #ff5e5ee7; 
    } 
     .bottom center{ 
        padding: 5px; 
        font-size: 0.9375rem; 
        background: #ff4a4a; 
    } 
     .bottom center span{ 
        color: #656565; 
    }
      .bottom center a{ 
        color: #f12020; 
        text-decoration: none; 
    } 
      .bottom center a:hover{ 
        text-decoration: 
        underline; 
}

 @media (max-width: 754px) {
     .grid {
         grid-template-columns: repeat(1, 1fr);
     }
    .welcome  { 
        font-size: 5rem ; 
    }
    .welcomep { 
        font-size: 1rem ; 
    }
    .checkbtn { 
        display  : block; 
    }
    .nav ul { 
        position: fixed;
        width: 100vw;
        top: 60px;
        left: -100vw;

        height: 100vh;
        background: red;
        transition: all .5s;
        padding: 0;
        border-radius: 20px;
    }
    .nav ul li {
        display: block;
        position: relative;
        width: 90%;
        left: 10%;
        padding: 0;
        margin-left: -20px;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
    }
    .nav ul li a { 
        font-size: 2rem; 
    }
    .nav li a:hover {
        background-color: #00000000;
        color: #ffff55;
    }
    #check:checked ~ ul { left: 0; }
}
    